# Wire I2C Library
CONFIG_WIRE_PORT0_I2C_SCL_GPIO=22
CONFIG_WIRE_PORT0_I2C_SDA_GPIO=21
CONFIG_WIRE_PORT0_CLOCK_SPEED=100000
CONFIG_WIRE_PORT1_I2C_SCL_GPIO=33
CONFIG_WIRE_PORT1_I2C_SDA_GPIO=32
CONFIG_WIRE_PORT1_CLOCK_SPEED=100000

